.product-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.text-center {
    text-align: center;
}


.product-table thead tr {
    background-color:  #019df4;
    color: #ffffff;
    text-align: left;
}


.product-table th,
.product-table td {
    padding: 12px 15px;
}


.product-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.product-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.product-table tbody tr:last-of-type {
    border-bottom: 2px solid #019df4;
}


.product-table tbody tr.active-row {
    font-weight: bold;
    color: #019df4;
}


// responsive table



$screen-sm-min: 768px;
$shadow: 0 2px 3px rgba(0, 0, 0, .2);
$gray-border: darken(#f8f8f8, 10%);
$gray-light: rgba(0, 0, 0, .35);
$faded-yellow: lighten(#f1c40f, 40%);


.cart-product {
   
    @media (max-width: 768px) {
        max-width: 300px;
        width: 80%;
        margin: 0 auto 0;
        max-height: 500px;
        overflow-y: scroll;
        position: relative;
        transition: all .2s ease-out;
      background: white;
      box-shadow: $shadow;

    }
  }

  @media (max-width: 768px) {

    .container {
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        margin-right: auto;
        margin-left: auto;
       }

    .product-table-responsive {
        table-layout: fixed;
        background: transparent;
        margin-bottom: 0;
        width: 100%;
        thead {
          display: none;
        }
        tbody tr {
          box-shadow: $shadow;
          background: #fff;
          border-bottom: 1px solid $gray-border;
          cursor: pointer;
          display: block;
          padding: 15px 10px;
          margin: 0 0 30px 0;
        }
        tbody td {
          border: 0;
          display: block;
          padding: 10px 10px 20px 40%;
          position: relative;
          &:first-of-type::after {
            visibility: hidden;
          }
          &:after {
            content: '';
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            background: $gray-border;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px
          }
          &:before {
            color: $gray-light;
            text-transform: uppercase;
            font-size: .85em;
            content: attr(data-title);
            display: table-cell;
            font-weight: 500;
            height: 100%;
            left: 15px;
            margin: auto;
            position: absolute;
            vertical-align: middle;
            white-space: nowrap;
            width: 40%;
          }
        }
        thead th {
          text-transform: uppercase;
          font-size: .85em;
          color: $gray-light;
          letter-spacing: .5pt;
        }
      }
    
  }




  .container-box {
    background-color: #ddd;
    padding: 10px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center!important;
  }


  .container {
    max-width: 1320px;
   }