<footer>
  <div class="row primary">
    <div class="column about">
      <h3>nombre</h3>
      <p>
        prueba tecnica
      </p>
    </div>
    <div class="column links">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="#faq">F.A.Q</a>
        </li>
        <li>
          <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
          <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
          <a href="#support">Support</a>
        </li>
        <li>
          <a href="#careers">Careers</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="row secondary">
    <div>
      <p>
        <i class="fas fa-phone-alt"></i>
      </p>
      <p>phone</p>
    </div>
    <div>
      <p><i class="fas fa-envelope"></i></p>
      <p>email</p>
    </div>
    <div>
      <p><i class="fas fa-map-marker-alt"></i></p>
      <p>Address</p>
    </div>
  </div>
  <div class="row copyright">
    <p>Copyright &copy; Andrew Rincon</p>
  </div>
</footer>