<header>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Prueba Tecnica
      </div>
    </div>
    <div class="nav-input">
      <div class="form-inline p-2" *ngIf="isMenuVisible">
        <input class="form-control inputStyle" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (keyup)="search($event)" placeholder="Search by Title" aria-label="Buscar">
      </div>
    </div>

    <div class="nav-links">
      <a routerLink="/home" href="#" target="_blank">Home</a>
    </div>

    <div class="nav-cart">
      <div routerLink="cart" class="cart-link">
        <span class="material-icons cartIcon">shopping_cart</span>
        <div style="font-size: 10px;" class="numberCart ">{{totalCount}}</div>
      </div>
    </div>

  </div>


</header>