

    .main-container {
        padding: 4rem;
        padding-top: 1rem;
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }


  /* Responsive: */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main-container {
        padding: 1rem !important;
        overflow-x: hidden !important;
        width: 100vw !important;
    }

    
  }
  
  * {
    box-sizing: border-box;
}


  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    margin: 0;
    padding: 0;
  }