$color_1: #B51700;
$color_2: #019df4;
$color_3: #434343;
$color_4: #B8B6B6;
$color_5: #FFFFFF;
$color_6: #292929;


$button-color: #FFC600;
$header: #EFEFEF;
$link_hover: #64CCC9;
$subtitle: #878787;
$title: #212529;
$fondo: #FFFFFF;
$footer: #292929;


