/* You can add global styles to this file, and also import other style files */


.padding-top {
    padding-top: 1.5rem !important;
}

.padding-bot {
    padding-bottom: 1.5rem !important;
}


.padding-left {
    padding-left: 1.5rem !important;
}

.padding-right {
    padding-right: 1.5rem !important;
}
